<!DOCTYPE html>
<html lang="en">

<head>
  {% include '_head.html' %}
</head>

<body>
  <div class="site-wrapper">
    <header id="zz" class="site-navbar navbar navbar-expand-md fixed-top navbar-light bg-light px-md-6">
      <a href="{{ url_for('index') }}" class="navbar-brand"><span class=" font-weight-bold">Micro Starter</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-site-nav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end py-2" id="main-site-nav">
        <ul class="navbar-nav text-center text-uppercase">
          {% from '_macros.html' import set_active_page %}
          {{
              set_active_page("Home", "index")
            }}
          {{
              set_active_page("About", "about")
            }}
          {{
              set_active_page("Contact", "contact")
            }}
        </ul>
      </div>
    </header>

    <main class="page-main">
      {% block page_main %}{% endblock %}
    </main>
    <footer class="site-footer text-light bg-dark">&copy;</footer>
  </div>
  {% include '_scripts.html'%}
</body>

</html>