{% extends 'base.html' %}
{% block page_header %}
{% endblock %}

{% block page_main %}

<header class="hero jumbotron jumbotron-fluid text-center text-light">
    <div class="hero-container container-fluid mx-auto w-75">

        <h1 class="hero-heading display-1 pt-5"><span class="hero-hashtag hero-hashtag-alt0">#</span><span
                class="hero-hashtag hero-hashtag-alt1">Learn</span><span
                class="hero-hashtag hero-hashtag-alt0">Coding</span></h1>
        <!-- <hr class="bg-light" /> -->
        <p class="lead mt-5 mb-3">
            Lorem ipsum, dolor sit amet consectetur adipisicing.
        </p>
        <!-- <hr class="" /> -->
        <p class="mb-6 mx-auto w-80">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam cum repellendus officiis, deleniti itaque
            voluptatem tempore nulla amet?
        </p>
        <hr class="hero-hr bg-light w-50 mt-0 mb-4">
        <!-- <a class="btn btn-outline-secondary btn-lg m-1" href="#" role="button">Learn more</a> -->
        <a class="hero-cta-btn btn btn-light btn-lg hero-hashtag-cta" href="#site-footer" role="button">Start Here</a>
    </div>
</header>
<h1 class="display-1">Micro Starter</h1> <br>
<h2 class="display-2">Micro Starter</h2> <br>
<h3 class="display-3">Micro Starter</h3> <br>
<h4 class="display-4">Micro Starter</h4> <br>
<!-- <h5 class="display-5">Micro Starter</h5> <br>
<h6 class="display-6">Micro Starter</h6> <br> -->
Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati itaque dolores alias reiciendis pariatur libero quam
totam placeat ratione iure.
{% endblock %}