.site-wrapper {
  // background-color: burlywood;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(auto, auto) auto;
  grid-template-areas:
    "nav  nav  nav  nav  nav  nav  nav  nav  nav  nav  nav   nav"
    "main main main main main main main main main main main  main";
}

.site-navbar {
  grid-area: nav;
}

.page-main {
  grid-area: main;
}
// .page-header {
//   grid-area: head;
// }

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/2xLgVXC.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
