.site-wrapper {
  // background-color: burlywood;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(auto, auto) auto 10vh;
  grid-template-areas:
    "nav  nav  nav  nav  nav  nav  nav  nav  nav  nav  nav  nav"
    "main main main main main main main main main main main main"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
}

.site-navbar {
  grid-area: nav;
}

.page-main {
  grid-area: main;
}

.site-footer {
  grid-area: foot;
}

.hero-image {
  background-image: url("/img/2xLgVXC.png");
  height: 500%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // object-fit: cover;
}